:root.theme-dark {
    --mainColor: #00cc14;
    --backgroundColor: #000;
    --buttonTextColor: #00cc14;
    --fontWeightRegular: 465;
    --fontWeightBold: 785;
    --backgroundImage: 
        repeating-linear-gradient(90deg, transparent 2px, #000 2px 4px, transparent 4px 6px, #000 6px 8px),
        repeating-linear-gradient(0deg, transparent 2px, #000 2px 4px, transparent 4px 6px, #000 6px 8px),
        linear-gradient(#007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
    :root {
        --mainColor: #00cc14;
        --backgroundColor: #000;
        --buttonTextColor: #00cc14;
        --fontWeightRegular: 465;
        --fontWeightBold: 785;
        --backgroundImage: 
            repeating-linear-gradient(90deg, transparent 2px, #000 2px 4px, transparent 4px 6px, #000 6px 8px),
            repeating-linear-gradient(0deg, transparent 2px, #000 2px 4px, transparent 4px 6px, #000 6px 8px),
            linear-gradient(#007f0c, #004306);
    }
    :root.theme-light {
        --mainColor: #000;
        --backgroundColor: #fff;
        --buttonTextColor: #fff;
        --fontWeightRegular: 400;
        --fontWeightBold: 700;
        --backgroundImage: 
            repeating-linear-gradient(90deg, transparent 2px, #d3d3d3 2px 4px, transparent 4px 6px, #d3d3d3 6px 8px),
            repeating-linear-gradient(0deg, transparent 2px, #d3d3d3 2px 4px, transparent 4px 6px, #d3d3d3 6px 8px),
            linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    }
}
